<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeIV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>653E2DFE1D5A4B5300BDA228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653E2E121D5A4B5300BDA228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653E2E1D1D5A4B5300BDA228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
